PORT=5000
SUPABASE_URL=https://srsywgzaavzesunhmyre.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNyc3l3Z3phYXZ6ZXN1bmhteXJlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzM0NDM5OCwiZXhwIjoyMDg4OTIwMzk4fQ.CCO1QkB8vvZRIRDlM9EPdK38OMPW1Ems3DfKIU9kot4
JWT_SECRET=cd5d69dd8a29ce05f74d41e292ac47ed7bc6bf4d8754efbca8d481488ab8a63d
JWT_EXPIRES_IN=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
